body {
  background-image: url("../images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
  background-color: #bbb;
  width: 40%;
  margin-right: 10%;
  top: 275px;
  padding-bottom: 15px;
  position: relative;
  border-color: #a43;
  border-style: solid;
  border-width: thick;
}

.answer {
  background-color: #369;
  color: white;
  border-radius: 25px;
}
